*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    background-color: rgb(40, 40, 40);
}

.grid-container{
    padding: 30px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4);
    gap: 25px;
}

.grid-item{
    padding: 10px;
}

#one{
    background-color: rgb(238, 68, 68);
}

#two{
    background-color: rgb(249, 114, 29);
}

#three{
    background-color: rgb(246, 139, 69);
}

#four{
    background-color: rgb(2, 135, 98);
}

#five{
    background-color: rgb(6, 194, 125);
}

#six{
    background-color: rgb(64, 245, 179);
}