*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    background-color: rgb(40, 40, 40);
}

.grid-container{
    padding: 30px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 25px;
}

.grid-item{
    padding: 10px;
}

#one{
    background-color: rgb(238, 68, 68);
    grid-column: 1 / span 6;
    grid-row: 1 / span 3;
}

#two{
    background-color: rgb(249, 114, 29);
    grid-column: 1 / span 6;
    grid-row: 4 / span 7;
}

#three{
    background-color: rgb(246, 139, 69);
    grid-column: 7 / span 6;
    grid-row: 4 / span 3;
    margin: 10px;
}

#four{
    background-color: rgb(2, 135, 98);
    grid-column: 10 / span 3;
    grid-row: 7 / span 4;
    margin: 10px;
}

#five{
    background-color: rgb(6, 194, 125);
    grid-column: 7 / span 3;
    grid-row: 7 / span 4;
    margin: 10px;
    
}

#six{
    background-color: rgb(64, 245, 179);
    grid-column: 7 / span 6;
    grid-row: 1 / span 3;
}

#seven{
    background-color: rgba(39, 238, 119, 0.397);
    grid-column: 7 / span 6;
    grid-row: 4 / span 7;
}

.a{
    font-size: large;
    font-weight: 600;
}