*{
    background-image: url("/A01782545_TC2005B/Web/css/Images/rmfon.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    
}

h1{
    color: rgb(212, 194, 1);
}

.links a{
    color: azure;
}

.links{
    margin: 10px;
    padding: 10px;
    border: 5px solid blueviolet;
    align-items: center;
    display: flex;
    justify-content:center;
    
}

#tarea1{
    margin:0px
}